/*# colors */
.primary-color {
    color: #19D3AE;
}

/*! home-top-banner */
.home-top-banner {
    background: url('../../imgs/images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cs-btn-1 {
    background: linear-gradient(90deg, #19D3AE -22.5%, #0FCFEC 120.83%) !important;
    border-radius: 8px !important;
    border: none !important;
    padding: 14px 25px !important;
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    /* identical to box height */
    color: #FFFFFF !important;
}

.cs-btn-1:hover {
    background: #0FCFEC !important;
}

/*! business-hour-info */

.clock-card {
    background: linear-gradient(90deg, #19D3AE -38.67%, #0FCFEC 129.78%);
    border-radius: 14px;
    border: none !important;
    color: #fff !important;
    padding: 10px;
    height: 80% !important;
}

.location-card {
    background: #3A4256 !important;
    border-radius: 14px;
    border: none !important;
    color: #fff !important;
    padding: 10px;
    height: 80% !important;
}

/*! service-card */
.service-card {
    height: 90% !important;
}